body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Color más suave de fondo */
    color: #333;
    transition: background-color 0.3s;
}

header {
    background-color: #0056b3; /* Color más oscuro para un contraste elegante */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

header:hover {
    background-color: #003d80; /* Color aún más oscuro al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

h1 {
    margin: 0;
    font-size: 2.4em;
}

.league-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px; /* Espaciado mejorado */
}

.league-buttons button {
    background-color: #0056b3; /* Color coherente con el header */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    flex: 1 1 130px;
    max-width: 160px; /* Botones más grandes y espaciados */
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.league-buttons button:hover {
    background-color: #003d80;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.league-buttons button:focus {
    outline: 2px solid #003d80;
}

.matches-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #003d80;
}

.league-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.league-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.league-logo {
    width: 60px; /* Logo más grande */
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.league-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

.league-container h2 {
    font-size: 1.8em;
    color: #0056b3;
    margin: 0;
    text-align: center;
}

.match-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Espaciado mejorado */
    margin-bottom: 20px; /* Espaciado mejorado */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px; /* Tarjetas más grandes */
    width: 100%;
    justify-content: center;
    transition: box-shadow 0.3s, transform 0.3s;
}

.match-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.match-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.match-header p {
    margin: 0;
    text-align: center;
}

.score {
    font-size: 1.6em; /* Tamaño de fuente más grande */
    margin: 5px 0;
}

.team-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logo {
    width: 50px; /* Logo de equipo más grande */
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-logo:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.scorers-list {
    font-size: 1em;
    text-align: center;
}

.standings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.standings-table th, .standings-table td {
    border: 1px solid #ddd;
    padding: 15px; /* Padding mejorado */
    text-align: center;
}

.standings-table th {
    background-color: #0056b3;
    color: white;
}

.standings-table tr:nth-child(even) {
    background-color: #f1f1f1; /* Color alternativo más claro */
}

.standings-table tr:hover {
    background-color: #e2e6ea;
}

/* Estilo general del contenedor de detalles del partido */
.match-details-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 90%;
    max-width: 600px;
    display: none; /* Inicialmente oculto */
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: fadeIn 0.3s ease;
}

/* Estilo para el contenido de detalles del partido */
.match-details-content {
    position: relative;
    padding: 20px;
}

.match-details-content h3 {
    font-size: 2em; /* Aumentar el tamaño del título */
    margin-bottom: 20px;
    color: #0056b3; /* Color consistente con el tema */
    border-bottom: 2px solid #0056b3; /* Línea debajo del título */
    padding-bottom: 10px;
}

.match-detail-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.match-detail-item h4 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 5px;
}

.match-detail-item p {
    font-size: 1.2em;
    color: #666;
}

/* Animación para la entrada del contenedor de detalles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Fondo blanco para un diseño limpio */
    min-width: 200px; /* Aumento del ancho mínimo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px; /* Borde redondeado */
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Fondo más claro al pasar el ratón */
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Estilos para el contenedor del reproductor de video */
.video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 90%; /* Aumentar el ancho máximo del reproductor */
    max-height: 90%; /* Aumentar la altura máxima del reproductor */
    width: 90vw; /* Hacer que el contenedor ocupe el 90% del ancho de la ventana */
    height: 80vh; /* Hacer que el contenedor ocupe el 80% de la altura de la ventana */
}

.video-frame {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Estilos generales del contenedor del reproductor de video */
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Tamaño máximo del reproductor */
    margin: 20px auto;
    background-color: #000; /* Fondo negro para el área del video */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo del video */
.video-container video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Controles del reproductor */
.video-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    border-radius: 0 0 8px 8px;
    color: #fff;
    font-size: 1em;
}

/* Botones de los controles */
.video-controls button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

.video-controls button:hover {
    color: #ff9900; /* Color de resaltado en hover */
    transform: scale(1.1);
}

/* Barra de progreso */
.progress-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #444;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.progress-bar span {
    display: block;
    height: 100%;
    background: #ff9900; /* Color de la barra de progreso */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s;
}

/* Tiempo de reproducción */
.time-display {
    font-size: 0.9em;
}

/* Controles ocultos cuando no se pasa el ratón */
.video-container:hover .video-controls {
    opacity: 1;
}

/* Controles visibles siempre */
.video-controls.visible {
    opacity: 1;
}


.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100px; /* Establece una altura fija para todas las imágenes */
    border-radius: 8px; /* Bordes redondeados */
}


.card-title {
    color: #fff;
    font-size: 1.5em;
    margin: 10px 0;
}

.card-link {
    color: #007bff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}


.card-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Para que el color del texto no cambie */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 100px;
    width: 100px;
}

.card-info {
    padding: 10px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta para indicar que es clickeable */
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Estilos para el contenedor del menú desplegable */
.dropdown {
    position: relative; /* Cambiado a relative para que el contenido desplegable se posicione con respecto a este contenedor */
    display: inline-block;
}

/* Estilos para el botón del menú desplegable */
.dropbtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón del menú al pasar el ratón sobre él */
.dropbtn:hover, .dropbtn:focus {
    background-color: #0056b3;
    outline: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido desplegable */
.dropdown-content {
    display: none;
    padding: 10px 20px;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    top: 100%; /* Ajusta la posición debajo del botón */
    left: 0; /* Alinea el contenido desplegable con el borde izquierdo del contenedor */
    padding: 10px 0 20px 0; /* Añade padding en la parte inferior */
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content a {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para los enlaces al pasar el ratón sobre ellos */
.dropdown-content a:hover, .dropdown-content a:focus {
    background-color: #007bff;
    color: #007bff;
    outline: none;
}

/* Mostrar el contenido desplegable al pasar el ratón sobre el botón */
.dropdown:hover .dropdown-content, .dropdown:focus-within .dropdown-content {
    display: block;
}

/* Estilos para los botones de las ligas */
header button {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: 2px solid #007bff; /* Borde del botón */
    border-radius: 12px; /* Bordes redondeados */
    padding: 12px 24px; /* Espaciado interno */
    font-size: 1em; /* Tamaño de fuente */
    font-weight: bold; /* Negrita en el texto */
    cursor: pointer; /* Cursor de puntero */
    transition: all 0.3s ease; /* Transición suave */
    margin: 5px; /* Espaciado entre botones */
    text-transform: uppercase; /* Texto en mayúsculas */
}

header button:hover {
    background-color: #0056b3; /* Color de fondo en hover */
    border-color: #0056b3; /* Color del borde en hover */
    transform: scale(1.05); /* Efecto de aumento */
}

header button:focus {
    outline: none; /* Sin borde de enfoque */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Sombra de enfoque */
}


/* Estilos para la sección de posiciones */
#standings-container {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Espaciado externo */
    max-width: 800px; /* Ancho máximo */
    overflow-x: auto; /* Desplazamiento horizontal en pantallas pequeñas */
}

#standings-header {
    font-size: 2em; /* Tamaño de fuente del encabezado */
    color: #007bff; /* Color del texto */
    margin-bottom: 20px; /* Espaciado debajo del encabezado */
    text-align: center; /* Alineación centrada */
}

.standings-table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapsar bordes */
    margin: 0 auto; /* Alineación centrada */
    background-color: #f9f9f9; /* Fondo de la tabla */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar bordes redondeados */
}

.standings-table th, .standings-table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 12px; /* Espaciado interno */
    text-align: center; /* Alineación centrada */
}

.standings-table th {
    background-color: #007bff; /* Color de fondo del encabezado */
    color: white; /* Color del texto */
    font-size: 1.1em; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

.standings-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo de filas pares */
}

.standings-table tr:hover {
    background-color: #e9ecef; /* Fondo en hover */
}

.standings-table td {
    color: #007bff; /* Color del texto de los datos */
    font-size: 0.9em; /* Tamaño de fuente en celdas */
}

.standings-table caption {
    font-size: 1.2em; /* Tamaño de fuente del pie de tabla */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Espaciado debajo del pie de tabla */
    color: #333; /* Color del texto */
}

/* Contenedor del detalle del partido */


.match-details-content h3 {
    margin-top: 0;
    font-size: 1.8em;
    color: #333;
    text-align: center;
}

.match-detail-item {
    margin-bottom: 20px;
}

.match-detail-item h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #007bff;
}

#standings-container {
    display: none; /* Inicialmente oculto */
}

/* Estilos para el botón de cerrar el detalle del partido */
.close-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    background-color: #e60000;
    transform: scale(1.1);
}

.close-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(230, 0, 0, 0.7);
}

/* Fondo oscuro para el modal */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.button-bounce {
    animation: bounce 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.league-logo.spin {
    animation: spin 2s linear infinite;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.match-details-container {
    animation: slideIn 0.5s ease-out;
}


/* Animación para hacer desvanecer los elementos cuando entran en el viewport */
.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
}


@keyframes slideInFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.standings-container {
    animation: slideInFade 0.6s ease-out;
}


@keyframes slideOutFade {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.standings-container.hide {
    animation: slideOutFade 0.4s ease-in forwards;
}

.scraped-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilos para el botón de cerrar */
.close-standings,
.close-button {
    display: none;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s, transform 0.3s;
}

.close-standings:hover,
.close-button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.close-standings:focus,
.close-button:focus {
    outline: 2px solid #cc0000;
}

/* Estilos para el contenedor del reproductor de video */
.video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 90%;
    max-height: 90%;
    width: 90vw;
    height: 80vh;
}

.video-frame {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.view-more-button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}

.view-more-button:hover {
    background-color: #003d80;
    transform: scale(1.05);
}





.hidden {
    display: none;
}

.show-matches-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.show-matches-button:hover {
    background-color: #0056b3;
}





.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
    padding: 20px;
}

/* Estilos para el botón de cerrar */
.close-player {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.close-player:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.close-player:focus {
    outline: 2px solid #cc0000;
}